extends layout

block content
  .container.mt-5

    h2.course_detail
      a.text-info(href=`/courses/${course.slug}`) #{course.name}
    .course_description.mt-5
      p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat dolores ex error provident illo cupiditate dolore corporis optio, numquam similique enim iusto corrupti possimus facere nemo earum! Saepe, aut in
      p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat dolores ex error provident illo cupiditate dolore corporis optio, numquam similique enim iusto corrupti possimus facere nemo earum! Saepe, aut in



  //- rajouter jumbotron
  .container
    .row
      .col
        img.img-thumbnail(src=`/images/${course.mentor.image || 'jc1.jpeg'}`).rounded-circle
        p #{course.mentor.name}
        p #{course.mentor.email}
    a.button.btn.btn-primary(href="/user/account") Voir profil




