extends layout

block content
  .container.mt-5
    .row
      .col-md-10.bg-light.mx-auto
        h2.course_detail.text-center.mb-5.text-primary
          a.text-warning(href=`/courses/${course.slug}`) #{course.name}
    .row
      .col-md-10.mx-auto.bg-white
        .course_description.mt-5
          img(src=`/uploads/${course.photo || 'rev5.jpg'}`)
        .col
          p #{course.description}
    .row
      .col-md-10.bg-white.mt-5.mx-auto
        img(src=`${course.mentor.gravatar}`).rounded-circle.mt-5
        row
          col-md-2
            p #{course.mentor.name}
            p #{course.mentor.email}
            a.button.btn.btn-warning.btn-lg(href=`/user/account/${course.mentor.id}`) Voir profil
        .col
          h2.session-date.text-center Réserver une session
          ul.course-session
            each session in course.sessions
              if session.date >= Date.now()
                li.sessions #{h.moment(session.date).format("DD/MM/YYYY")}
                //- afficher le button si n'est pas mentor du cours et si le user est loggé
                if user && !user._id.equals(course.mentor._id)
                  //- afficher le button supply uniquement le cours est dispo
                  if !session.mentoree
                    button(type="submit" name="supply" value=`${session.id}`) S'inscrire
                  //- afficher le button cancel uniquement si c'est bien le mentoree qui s'est inscrit au cours
                  if session.mentoree && session.mentoree.equals(user._id)
                    button(type="submit" name="cancel" value=`${session.id}`) Annuler
                  //- afficher le button non dispo
                  if session.mentoree && !session.mentoree.equals(user._id)
                    button(type="submit" disabled="disabled") Réservée



