doctype html
html(lang="en")
  head
    title= `${title} | ${h.siteName}`
    link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css' integrity='sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm' crossorigin='anonymous')
    link(rel='stylesheet', href='/dist/style.css')
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
  body
    block header
      ul.navbar-header.mt-0(role='navigation')
        li: a(href="/")
          != h.icon('logo_B')
          //- span.home Reverse Mentoring
          if user
            if user.isMentor
              li.add: a(href="/courses/add") Ajouter
            else
              if user.isMentor
              li.bementor: a(href="/user/mentor/form") Devenir Mentor
                //- != h.icon('buttonadd')
            li.logout: a(href="/user/logout") Déconnexion
              //- != h.icon('logout')
            li.account: a(href="/user/account")
              img.avatar(src=user.gravatar + 'd=retro')
          else
            li.register: a(href="/user/inscription") S'inscrire
            li.login: a(href="/user/login") Connexion
    block messages
      if locals.flashes
        .inner.inner--flashes
          .flash-messages
            - const categories = Object.keys(locals.flashes)
              each category in categories
                each message in flashes[category]
                  .flash(class=`flash--${category}`)
                    p.flash__text!= message
                    button.flash__remove(onClick="this.parentElement.remove()") &times;
      .content
        block content

    block script
      script(src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous")
      script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous")
      script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous")
      script(type="text/javascript" src="/dist/App.bundle.js")




//- pre= h.dump




