doctype html
html(lang="en")
  head
    title= `${title} | ${h.siteName}`
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css' integrity='sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm' crossorigin='anonymous')
    link(rel='stylesheet', href='/dist/style.css')
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
  body
    block header
      header.top
        ul.nav
            li.nav-tem.nav__item
              a.nav-link.nav__link.nav__link--logo(href="/")
                != h.icon('logo_B')
              p Accueil

            if user
              ul.nav.justify-content-end
                li.nav-item.nav__item: a.nav-link.nav__link(href="/courses/add", class=(currentPath.startsWith('/courses/add') ? 'nav__link--active' : ''))
                  != h.icon('boutonadd')
                  span Ajouter
                  //- span.heart-count #{user.hearts && user.hearts.length}
                li.nav-item.nav__item: a.nav-link.nav__link(href="/user/logout", class=(currentPath.startsWith('/user/logout') ? 'nav__link--active' : ''))
                  != h.icon('logout')
                  span Logout
                li.nav-item.nav__item: a.nav-link.nav__link(href="/user/account", class=(currentPath.startsWith('/user/account') ? 'nav__link--active' : ''))
                  //- img.avatar(src=user.gravatar)
                  p #{user.name}

            else
              ul.nav.justify-content-end
                li.nav-item.nav__item: a.nav-link.nav__link(href="/user/mentor/form", class=(currentPath.startsWith('/user/mentor/form') ? 'nav__link--active' : '')) Devenir Mentor
                li.nav-item.nav__item: a.nav-link.nav__link(href="/user/inscription", class=(currentPath.startsWith('/user/inscription') ? 'nav__link--active' : '')) S'inscrire
                li.nav-item.nav__item: a.nav-link.nav__link(href="/user/login", class=(currentPath.startsWith('/user/login') ? 'nav__link--active' : '')) S'identifier

    block messages
      if locals.flashes
        .inner
          .flash-messages
            -const categories = Object.keys(locals.flashes)
              each category in categories
                each message in flashes[category]
                  .flash(class=`flash--${category}`)
                    p.flash__text!= message
                    button.flash__remove(onClick="this.parentElement.remove()") &times;
      .content
        block content

    block script
      script(src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous")
      script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous")
      script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous")
      script(src="/dist/App.bundle.js")









