extends layout

block content
  .inner
    .container(style="margin-top:200px")
      .row
        div.mt-5(class="card" style="width:27%")
          div(class="card" style="width:27%")
          div(class="card-body")
            a.nav-link.nav__link(href="#") Courses
          div(class="card-body")
            a.nav-link.nav__link(href="#") Mentorés
          div(class="card" style="width:27%")
          div(class="card-body")
            a.nav-link.nav__link(href="#") Rendez-vous

  .inner
    .courses
      ul
      each course in courses
        li #{course.name}
        ul
        each session in course.sessions
          li #{session.date}
        a(style="color: blue" href=`/sessions/form/${course._id}`)
          button Ajouter session




























      //- ul.nav-profil.flex-column
      //-   li.nav-item
      //-     a.nav-link.active(href="#") Active
      //-   li.nav-item
      //-     a.nav-link(href="#") Link
      //-   li.nav-item
      //-     a.nav-link(href="#") Link
      //-   li.nav-item
      //-     a.nav-link.disabled(href="#") Disabled
































          //- a(href="#ancre1") profil
      //- p Mentorés
      //- p Rendez-vous
      //- form.form(action="/user/account" method="POST")
      //-   label(for="name") Nom
      //-   input.form-control.mb-4(type="text" name="name" value=user.name)
      //-   label(for="email") Adresse Mail
      //-   input.form-control.mb-4(type="email" name="email" value=user.email)
      //-   input.button.btn.btn-success.mt-4(type="submit" value="Mettre á jour")



//- h2 #{title}
    .div
      .pull-left
        .card-block
          a.account-link(href="#/user/account")
            span #{user.name}
        .row
          .col-sm-12
            ul.nav#side-menu
              li
                a.text-center.active(href="#/ppp" äria-current="true" #ppp-link)
