extends layout

block content
  .container
    .row
      .col.md-8.bg-warning.text-center
        img.img-mentor.rounded-circle.mt-5(src=`${user.gravatar}`)
        .col
          .info-block.text-editor
            .user-info #{user.name}
              .course__action.course__action--edit
                a(href=`/user/edit/${user._id}`)
                  != h.icon('pencil')
        .col
          .info-block-about
            if user.description
              p.text-light #{user.description}
            else
              p.text-light Décrivez-vous en quelques mots

    .list-course
      h1.text-center.activities Activités
      ul.user-profil
        each course in courses
          .row
            li.nav-item.nav__item #{course.name}
            ul
              each session in course.sessions
                li.nav-item.nav__item #{session.date}
            a.session(style="color: blue" href=`/sessions/form/${course._id}`)
              button Ajouter session


















      //- .card-account.mt-5(style="width:27%")
      //-   div(class="card" style="width:27%")
      //-   div(class="card-body")
      //-     a.nav-link.nav__link(href=`/sessions/form/${idCours}`) Courses
      //-     .courses-mentor
      //-       ul
      //-         each course in courses
      //-           li.nav-item.nav__item #{course.name}
      //-           ul
      //-           each session in course.sessions
      //-             li.nav-item.nav__item #{session.date}
      //-               a.session(style="color: blue" href=`/sessions/form/${course._id}`)
      //-                 button Ajouter session










      //-   div(class="card-body")
      //-     a.nav-link.nav__link(href="#") Mentorés
      //-   div(class="card" style="width:27%")
      //-   div(class="card-body")
      //-     a.nav-link.nav__link(href="#") Rendez-vous






























      //- ul.nav-profil.flex-column
      //-   li.nav-item
      //-     a.nav-link.active(href="#") Active
      //-   li.nav-item
      //-     a.nav-link(href="#") Link
      //-   li.nav-item
      //-     a.nav-link(href="#") Link
      //-   li.nav-item
      //-     a.nav-link.disabled(href="#") Disabled
































          //- a(href="#ancre1") profil
      //- p Mentorés
      //- p Rendez-vous
      //- form.form(action="/user/account" method="POST")
      //-   label(for="name") Nom
      //-   input.form-control.mb-4(type="text" name="name" value=user.name)
      //-   label(for="email") Adresse Mail
      //-   input.form-control.mb-4(type="email" name="email" value=user.email)
      //-   input.button.btn.btn-success.mt-4(type="submit" value="Mettre á jour")



//- h2 #{title}
    .div
      .pull-left
        .card-block
          a.account-link(href="#/user/account")
            span #{user.name}
        .row
          .col-sm-12
            ul.nav#side-menu
              li
                a.text-center.active(href="#/ppp" äria-current="true" #ppp-link)
