extends layout

block content
  .container
    .row
      .col.md-8.bg-warning.text-center
        img.img-mentor.rounded-circle.mt-5(src=`${mentor.gravatar}`)
        .col
          .info-block.text-editor
            .user-info #{mentor.name}
        .col
          .info-block-about
            if mentor.description
              p.text-light #{mentor.description}
            else
              p.text-light Décrivez-vous en quelques mots

    .row.bg-white
      h1.activities.mx-auto Activités proposées
    .row.sessions-liste.bg-white
      each course in courses
        .course
          .course__hero
            .course__actions
              a.course-img(href=`/courses/edit/${course._id}`)
                img.course-img(src=`/uploads/${course.photo || 'code.jpg'}`)
            h2.title
              a(href=`/courses/${course.slug}`) #{course.name}
          .course__details
            ul.sessions
              each session in course.sessions
                if session.date >= Date.now()
                  li.sessions #{h.moment(session.date).format("DD/MM/YYYY")}
            a.session(style="color: blue" href=`/sessions/form/${course._id}`)



