extends layout

block content
  .container
    .row.info-mentor
      .col.md-8.bg-warning.text-center
        img.img-mentor.rounded-circle.mt-5(src=`${user.gravatar}`)
        .col
          .info-block.text-editor
            .user-info #{user.name}
              .course__action.course__action--edit
                a(href=`/user/edit/${user._id}`)
                  != h.icon('pencil')
        .col
          .info-block-about
            if user.description
              p.text-light #{user.description}
            else
              p.text-light Décrivez-vous en quelques mots
    .row.bg-white
      h1.activities.mx-auto Activités proposées
    .row.sessions-liste.bg-white
      each course in courses
        .course
          .course__hero
            .course__actions
              a.course-img(href=`/courses/edit/${course._id}`)
                img.course-img(src=`/uploads/${course.photo || 'code.jpg'}`)
            h2.title
              a(href=`/courses/${course.slug}`) #{course.name}
          .course__details
            ul
              each session in course.sessions
                if session.date >= Date.now()
                  li #{h.moment(session.date).format("DD/MM/YYYY")}
            a.session(style="color: blue" href=`/sessions/form/${course._id}`)
              button.addsession Ajouter une session



























































          //- a(href="#ancre1") profil
      //- p Mentorés
      //- p Rendez-vous
      //- form.form(action="/user/account" method="POST")
      //-   label(for="name") Nom
      //-   input.form-control.mb-4(type="text" name="name" value=user.name)
      //-   label(for="email") Adresse Mail
      //-   input.form-control.mb-4(type="email" name="email" value=user.email)
      //-   input.button.btn.btn-success.mt-4(type="submit" value="Mettre á jour")



//- h2 #{title}
    .div
      .pull-left
        .card-block
          a.account-link(href="#/user/account")
            span #{user.name}
        .row
          .col-sm-12
            ul.nav#side-menu
              li
                a.text-center.active(href="#/ppp" äria-current="true" #ppp-link)
