mixin courseForm(course = {})
  form(action=`/courses/add/${course._id || ''}` method="POST" enctype="multipart/form-data")
    //- ici jai 2 redirections possibles: soit courses/add soit s'il ya 1 id add/${course._id

    form-group
      label(for="name") Name
      input.form-control(type="text" name="name" value=course.name)
    form-group
      label.mt-5(for="description") Description
      textarea.form-control(name="description" rows="3")= course.description


    //- Image upload
    form-group
      label.mt-5(for="photo") Photo
        input.form-control-file(type="file" name="photo" id="photo" accept="image/gif, image/png, image/jpeg")
        if course.photo
          img(src=`/uploads/${course.photo}`, alt=course.name with=200)
    form-group
      button.btn.btn-primary(type="submit") Enregistrer
