mixin courseForm(course = {})
  form(action=`/courses/add/${course._id || ''}` method="POST" class="card")
    //- ici jai 2 redirections possibles: soit courses/add soit s'il ya 1 id add/${course._id 
    label(for="name") Name
    input(type="text" name="name" value=course.name)
    label(for="description") Description
    textarea(name="description")= course.description
    -const choices = ['Javascript', 'Html', 'Php', 'Autre']
    -const tags = course.tags || []
    ul.tags
      each choice in choices
        .tag.tag__choices
          input(type="checkbox" id=choice value=choice name="tags" checked=(tags.includes(choice)))
          label(for=choice) #{choice}
    input(type="submit" value="Enregistrer" class="button")

