mixin mentorForm()
  .container.mt-5
    h2.text-center #{title}
    form(action="/user/mentor/form" method="post")
      .row.mt-5
        .form-group.col-md-4
          //- img.img-thumbnail(src=`/images/${user.image}`)
        .form.col-md-8
          if user
            .form-group
              input.form-control.form-control-lg(type="text" name="name" disabled="disabled" value=user.name)
            .form-group
              input.form-control.form-control-lg(type="email" name="email" disabled="disabled" value=user.email)
          else
            .form-group
              input.form-control.form-control-lg(type="text" name="name" placeholder="Name")
            .form-group
              input.form-control.form-control-lg(type="password" name="password" placeholder="Password")
            .form-group
              input.form-control.form-control-lg(type="email" name="email" placeholder="Email")
      .row.mt-5
        .form.col-md-8.form-group
          label(for="description") Description
          if user
            textarea(name="description" class="form-control" rows="5")=user.description
          else
            textarea(name="description" class="form-control" rows="5")

      button(type="submit" class="btn btn-secondary btn-lg ") Envoyer



