mixin pagination(page, pages, count)
  .row
    .col-md-12
      .pagination
        .pagination__prev
          if page > 1
            a(href=`/courses/page/${page - 1}`) 
        .pagination__text
          p Page #{page} à #{pages} - #{count} Activités
        .pagination__next
          if page < pages
            a(href=`/courses/page/${parseFloat(page) + 1}`)



